<template>
    <section id="about">
        <span class="section-title">About me</span>

        <div class="section-content" style="">
            <figure class="imghvr-fade">
                <img src="images/coding.webp" alt="Man coding" />
                <figcaption>
                    Technology vector created by pikisuperstar - freepik.com
                </figcaption>
            </figure>
            <div class="section-text">
                <p>
                    I somehow have more than 2k followers on Twitter (hi
                    impostor syndrome!) and I realized that I almost never
                    promote the work I do as a self-taught {{ ' ' }}
                    <span class="highlight">Web developer</span>{{ ' ' }}, so I
                    decided to code this portfolio!<br />
                    And as you may know by now, I'm also involved in Ubisoft
                    game's communities and they made me join their
                    <a
                        href="https://news.ubisoft.com/sv-se/article/5RYyFV4VAghlyz1Gg04bXp/star-for-a-daythe-ubisoft-star-player-program"
                        rel="noreferrer norelopener"
                        title="Ubisoft Star Player Program"
                        target="_blank"
                        >Star Player</a
                    >
                    and
                    <a
                        href="https://www.ubisoft.com/en-gb/game/assassins-creed/mentors-guild"
                        rel="noreferrer norelopener"
                        title="Ubisoft's Mentors Guild Program"
                        target="_blank"
                        >Mentors Guild</a
                    >
                    programs.
                </p>
                <br />
                <p>
                    If any of this looks cool to you and want to support me, I
                    have a Ko-Fi page.
                </p>
                <vue-kofi uid="alsagone" color="#f8f32b" />
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import VueKofi from 'vue-kofi';

export default Vue.extend({
    components: {
        VueKofi
    }
});
</script>

<style lang="scss" scoped>
figure {
    margin-right: 10px;
}
</style>
