<template>
    <section id="home">
        <span class="section-title">Introduction</span>

        <div class="section-content">
            <img id="profile-pic" src="images/profile_pic.webp" alt="Photo" />
            <div class="presentation">
                Hello there ! I'm
                <span class="name">
                    <span class="highlight">Hakim</span>
                </span>
                also known as alsagone and this is my work!
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>

<style scoped>
@import url('assets/styles/home.css');
</style>
