<template>
    <section id="projects">
        <span class="section-title">Projects</span>
        <div class="section-content">
            <div id="projects-container">
                <div
                    class="project"
                    v-for="project in projects"
                    :key="project.Id"
                >
                    <div class="presentation">
                        <img
                            :src="getProjectImage(project.Image)"
                            :alt="project.Title"
                        />

                        <div class="project-attributes">
                            <span class="project-title">{{
                                project.Title
                            }}</span>
                            <span class="project-description">
                                {{ project.Description }}
                            </span>

                            <span class="social">
                                <span class="social-button">
                                    <a
                                        :href="project.URL"
                                        rel="noreferrer norelopener"
                                        :title="project.Title"
                                        target="_blank"
                                    >
                                        <font-awesome-icon
                                            icon="fa-sospand fa-window-restore"
                                        />
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <v-divider v-if="project.Id < projects.length" />
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import data from '~/json/projects.json';

export default Vue.extend({
    data: () => {
        return {
            projects: data
        };
    },

    methods: {
        getProjectImage: (projectName: string): string => {
            return `images/previews/${projectName}.webp`;
        },

        getRepository: (projectRepo: string): string => {
            return `https://gitlab.com/alsagone/${projectRepo}`;
        },

        getTechPrefix: (nbTech: number): string => {
            const tech: string = nbTech > 1 ? 'Technologies' : 'Technology';
            return `${tech} used:`;
        }
    }
});
</script>

<style lang="scss" scoped>
@import 'assets/styles/projects.css';
</style>
