:root {
  font-size: 16px;
  --text-primary: #fff;
  --text-secondary: #f8f32b;
  --bg-primary: #eef0f2;
  --bg-secondary: #f8f32b;
  --transition-speed: 200ms;
}

.theme--dark.v-application {
  background-color: #5f0f40 !important;
  background-image: linear-gradient(316deg, #5f0f40 0%, #310e68 74%) !important;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body,
.v-application {
  min-height: 100%;
  color: var(--text-primary) !important;
  font-family: 'Fira Sans', 'M PLUS 1p', sans-serif !important;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.45rem;
}

body::-webkit-scrollbar-track {
  background: #310e68;
}

body::-webkit-scrollbar-thumb {
  background: #f8f32b;
}

main {
  padding: 1rem;
}

.highlight {
  font-weight: bold;
  color: #f8f32b;
}

p {
  margin: 0 !important;
}

@media only screen and (max-width: 600px) {
  #container {
    margin-bottom: 5rem;
  }
}
/*# sourceMappingURL=global.css.map */