.presentation {
  font-size: 2rem;
}

#profile-pic {
  max-width: 256px;
  height: auto;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(248, 243, 43, 0.7));
          filter: drop-shadow(0px 2px 4px rgba(248, 243, 43, 0.7));
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  #home {
    text-align: center;
  }
  #profile-pic {
    max-width: 150px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=home.css.map */