@import 'variables.scss';

section {
    max-width: 100vw;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    font-size: 1.5rem;
}

.section-text {
    display: flex;
    flex-direction: column;
}

figure {
    border-radius: 10px;
    max-width: 400px !important;
    height: auto;
}

figcaption {
    background-color: rgba(97, 49, 224, 0.9) !important;
}

section a {
    font-weight: bold;
    color: #f8f32b;

    &:hover {
        color: #00c2d1;
    }
}

@media only screen and (max-width: 600px) {
    .section-content {
        flex-direction: column;
        max-width: 90vw;
    }
}
