.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.social-button a {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-button svg {
  color: #000500;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
  max-height: 1rem;
}

.social-button a {
  display: inline-block;
}

.social-button a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: ' ';
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(315deg, #f9ff60 0%, #f8f32b 74%);
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-button a:hover:before {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.social-button a:hover svg {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #f8f32b;
  background: linear-gradient(315deg, #f9ff60 0%, #f8f32b 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.kofitext {
  color: #000500 !important;
  font-weight: bold;
}
/*# sourceMappingURL=socialButtons.css.map */