<template>
    <v-app>
        <main>
            <div id="container">
                <home />
                <about />
                <projects />
            </div>
        </main>
    </v-app>
</template>

<script>
import Home from '~/components/Home.vue';
import AboutMe from '~/components/AboutMe.vue';
import Projects from '~/components/Projects.vue';

export default {
    components: {
        home: Home,
        about: AboutMe,
        projects: Projects
    }
};
</script>

<style lang="scss">
@import 'assets/styles/global.css';
@import 'assets/styles/socialButtons.css';
@import 'assets/styles/section.css';
@import 'assets/styles/imagehover.min.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
</style>
